


<mat-tab-group>
  <mat-tab label="Pizzas">
    <mat-sidenav-container class="pizza-container">
      <!-- Side nav -->
  <mat-sidenav mode="side" class="pizza-sidenav" opened>
    <mat-button-toggle-group #group="matButtonToggleGroup" id="mtbt">
      <mat-button-toggle (click)="setToggleValue('v')" mat-raised-button id="Veg" value="v">Veg</mat-button-toggle>
      <mat-button-toggle (click)="setToggleValue('n')" mat-raised-button id="NonVeg" value="n">Non Veg</mat-button-toggle>
    </mat-button-toggle-group>
    <br/><br/>
    <label for="price-range">Price Range</label><br/>
    <mat-slider id="price-range" min="100" max="600" [(ngModel)]="price" thumbLabel></mat-slider>
    <br/>
    <form>
      <mat-form-field>
        <mat-select (selectionChange)="search()" [(ngModel)]="selectedBase" placeholder="Favorite base" name="base">
          <mat-option *ngFor="let base of bases" [value]="base.value">
            {{base.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <mat-select (selectionChange)="search()" placeholder="Favorite type" [(ngModel)]="selectedType" name="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-sidenav>
  
      <!-- Main content -->
  <mat-sidenav-content>
    <mat-grid-list cols="3" rowHeight="500px">
      <mat-grid-tile *ngFor="let pizza of pizzas$ | async">
        <mat-card *ngIf="pizza">
          <mat-card-header>
            <mat-card-title><h3>{{ pizza.name | uppercase }} Details </h3></mat-card-title>
            <mat-card-subtitle>{{pizza.pizza}}</mat-card-subtitle>
          </mat-card-header>
          <img src="{{pizza.image}}" alt="Photo of pizza" height="200px" width="200px">
          <mat-card-content >
            <ul>
              <li>Base: {{pizza.base}}</li>
              <li>Type {{pizza.type}}</li>
              <li>Price: {{pizza.price}}</li>
            </ul>
          </mat-card-content>
          <mat-card-actions class="pizza-back-btn">
            <button (click)="goBack()" mat-raised-button>Add To Cart</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-tab>
  <mat-tab label="Sides">Sides</mat-tab>
  <mat-tab label="Deserts">Deserts</mat-tab>
  <mat-tab label="Drinks">Deserts</mat-tab>
</mat-tab-group>